<div class="rectangle-62">
  <!-- Flecha para regresar -->
  <i class="fa fa-arrow-left keyboard-backspace-icon-5" (click)="navigateToLogin()"></i>

  <!-- Encabezado y logo -->
  <div class="header-container">
    <h1 class="heading-3">Crear Cuenta</h1>
    <img src="assets/logo.png" alt="Logo" class="image-pasted-2024-30-06-at-17-47-29-png-1">
  </div>
  
  <!-- Formulario -->
  <form (submit)="onSubmit($event)">
    <div class="underline-input">
      <label class="nombres-" for="nombres">Nombres</label>
      <input id="nombres" type="text" class="input-field">
    </div>
    
    <div class="underline-input">
      <label class="apellidos" for="apellidos">Apellidos</label>
      <input id="apellidos" type="text" class="input-field">
    </div>

    <div class="underline-input">
      <label class="-c-dula-de-identidad-" for="cedula">Cédula de identidad</label>
      <input id="cedula" [(ngModel)]="cedula" name="cedula" type="text" class="input-field">
    </div>

    <div class="underline-input">
      <label class="-correo-electr-nico-" for="correo">Correo electrónico</label>
      <input id="correo" [(ngModel)]="email" name="email" type="email" class="input-field">
    </div>

    <div class="underline-input">
      <label class="-fecha-de-nacimiento-" for="fecha-nacimiento">Fecha de nacimiento</label>
      <input id="fecha-nacimiento" type="date" class="date-picker-1 input-field">
    </div>

    <div class="underline-input">
      <label class="-celular-" for="celular">Celular</label>
      <input id="celular" type="text" class="input-field">
    </div>

    <div class="underline-input">
      <label class="nombre-de-usuario-1" for="usuario">Nombre de usuario</label>
      <input id="usuario" type="text" class="input-field">
    </div>

    <div class="underline-input">
      <label class="contrase-a-1" for="password">Contraseña</label>
      <input id="password" [(ngModel)]="password" name="password" type="password" class="input-field">
    </div>

    <div class="underline-input">
      <label class="confirmar-contrase-a-1" for="confirm-password">Confirmar contraseña</label>
      <input id="confirm-password" [(ngModel)]="confirmPassword" name="confirmPassword" type="password" class="input-field">
    </div>

    <div class="underline-input">
      <label class="-ciudad-" for="ciudad">Ciudad</label>
      <select id="ciudad" class="select-1 input-field">
        <!-- Opciones de la ciudad -->
      </select>
    </div>

    <div class="checkbox-container">
      <input type="checkbox" id="terms" class="checkbox-4">
      <label for="terms" class="i-agree-to-the-terms-of-services-and-privacy-polic-3">Acepto los términos de servicio y la política de privacidad.</label>
    </div>

    <button type="submit" class="rectangle-8-copy-8">Crear cuenta</button>
  </form>
</div>
