<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/main-page"></ion-back-button>
    </ion-buttons>
    <ion-title>Historial de Transacciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="transaction-list">
    <ion-item *ngFor="let transaction of transactions" class="transaction-item">
      <ion-label>
        <p class="transaction-date">Fecha: {{ transaction.fecha }}</p>
        <h2 class="transaction-description">{{ transaction.descripcion }}</h2>
        <p class="transaction-amount" [ngStyle]="{'color': transaction.monto > 0 ? 'green' : 'red'}">
          {{ transaction.monto | currency }}
        </p>
      </ion-label>
    </ion-item>
  </ion-list>

  <div class="transaction-form">
    <ion-item>
      <ion-label position="stacked">Fecha de inicio</ion-label>
      <ion-datetime display-format="MM/DD/YYYY" picker-format="MM/DD/YYYY"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Fecha de fin</ion-label>
      <ion-datetime display-format="MM/DD/YYYY" picker-format="MM/DD/YYYY"></ion-datetime>
    </ion-item>

    <ion-button expand="block" color="primary">Búsqueda por fecha</ion-button>
  </div>
</ion-content>
