ion-title {
  font-family: "Quicksand", sans-serif;
  font-size: 24px; /* Ajuste del tamaño del título */
  font-weight: bold;
  color: #BB9360; /* Color del título */
  text-align: left; /* Alinear el texto a la izquierda */
}

.transaction-list {
  padding: 16px;
}

.transaction-item {
  --background: #F4FAFC; /* Fondo similar a la imagen */
  border-radius: 10px;
  margin-bottom: 15px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: 16px;
}

.transaction-date {
  font-family: "Quicksand", sans-serif;
  font-size: 14px;
  color: #0F2A3F;
  margin-bottom: 5px;
}

.transaction-description {
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #0F2A3F;
}

.transaction-amount {
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  margin-top: 5px;
}

.transaction-form {
  padding: 16px;
}

ion-item {
  --background: #fff;
  border-radius: 10px;
  margin-bottom: 15px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding-left: 16px;
  width: 100%;
  height: auto; /* Ajuste para que las cajas de texto se ajusten al contenido */
  display: flex;
  align-items: center;
}

ion-label {
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #0F2A3F;
}

ion-button {
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  font-weight: bold;
  border-radius: 10px;
  padding: 10px;
}
